/* Add your CSS styles here */
.roveka {
    background-color: black;
    color: yellow;
    font-weight: bold;
}

.center-content {
    width: 800px;
    max-width: 800px;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
}

#teaminfo {
    float: right;
    position: relative; 
    font-weight: bold;
}