/* Add your CSS styles here */
.roveka {
    background-color: black;
    color: yellow;
}

.center-content {
    width: 800px;
    max-width: 800px;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
}

.font-weight-bold {
    font-weight: bold;
}
