/* Add your CSS styles here */
.roveka {
    background-color: black;
    color: yellow;
    font-weight: bold;
}

.center-content {
    width: 90%;
    max-width: 90%;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
}

.even-row {
    background-color: lightgray;
}

.win {
    background-color: green;
    text-align: center;
}

.loss {
    background-color: red;
    text-align: center;
}

.team-info {
    float: right;
    position: relative; 
    font-weight: bold;
}

.team-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 480px;
}

.team-ranking {
    display: block;
    width: 90%;
}